<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <title>Cria anuncio</title>
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Fixed navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72"
                height="72">
            <h2>Criação de Anuncio</h2>
        </div>

        <div class="row">

            <div class="col-md-10 order-md-1">

                <form class="needs-validation" action="/anuncio/postAnuncio" method="POST">
                    <div class="row">
                        <div class="col-md-10 mb-3">
                            <label for="Titulo_Anuncio">Titulo do anuncio</label>
                            <input type="text" class="form-control" id="titulo_Anuncio" placeholder=""
                                name="titulo_Anuncio" value="<%=titulo %>" required>
                            <div class="invalid-feedback">
                                Titulo obrigatorio
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="lastName">Preço</label>
                            <input type="text" class="form-control" id="preco" placeholder="" name="preco"
                                value="<%= valor%>" required>
                            <div class="invalid-feedback">
                                Preço obrigatorio
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="descricao">Descrição</label>
                        <div class="input-group">
                            <input type="text" class="form-control" value="<%=descricao%>" id="descricao"
                                placeholder="descricao" required>
                            <div class="invalid-feedback" style="width: 100%;">
                                Descricao obrigatoria
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="qtd_dispo">Quantidade disponivel </label>
                        <input type="qtd_dispo" class="form-control" id="qtd_dispo" value="<%= estoque %>"
                            placeholder="">
                        <div class="invalid-feedback">

                        </div>
                    </div>

                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Criar</button>
                </form>
            </div>
        </div>

        <footer class="my-5 pt-5 text-muted text-center text-small">

        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/docs/4.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
        crossorigin="anonymous"></script>
    <script src="form-validation.js"></script>
</body>

</body>

</html>